Dataset
Dataset.zip
Model
.gitignore
bearer_token.txt
key.txt
secret.txt
test_search.py
get_messi_locations.py
get_ronaldo_locations.py
*.avi
generate_messi_wordcloud.ipynb
generate_messi_wordcloud.py
.ipynb_checkpoints
*.jpg
Reporting
Commands before launching power BI.PNG
